{{title}}
<div class="row border align-middle">
    <div class="col-sm-2">
        Image
    </div>
    <div class="col-sm-3">
        Name
    </div>
    <div class="col-sm-4">
        Short Description
    </div>
    <div class="col-sm-1">
        Min Qty
    </div>
    <div class="col-sm-1">
        Price
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-success"><i class="fas fa-plus"></i></button>
    </div>
</div>



